*.dart linguist-language=Dart
*.c linguist-language=ignore
*.h linguist-language=ignore
*.cpp linguist-language=ignore
*.hpp linguist-language=ignore
*.cc linguist-language=ignore
*.cxx linguist-language=ignore
CMakeLists.txt linguist-language=ignore
*.cmake linguist-language=ignore

